.h3catalogo {
  color: white;
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  opacity: 70%;
}
.h1catalogo {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  padding-top: 30px;
}
.textCatalogue {
  color: white;
  text-align: start;
  padding: 5% 10%;
  font-size: 20px;
}
.parrafoTra {
  /* width: 100%; */
  margin: 0 10%;
}
.containerCard {
    display: flex;
    justify-content: space-around;
}
.imgCardCat {
    width: 50%;
}
.containerInfoCard {
    width: 60%;
    margin-right: 5%;
    flex-wrap: wrap;
}
.titleCardCat {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.priceCardCat {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.textCardCat {
    color: white;
    font-size: 15px;
    font-weight: bold;
    /* text-align: start; */
}
.liCardCat {
    color: white;
    font-size: 15px;
    font-weight: bold;
    /* text-align: start; */
    list-style:none
}
.numberPrice {
  color: #00B4CC;
}
.imgProducts {
  width: 60%;
  height: 300px;
  /* text-align: center; */
}
.divContainerTech {
  text-align: center;
  background: linear-gradient(to right, rgb(229, 231, 235), rgb(156, 163, 175), rgb(75, 85, 99));
  margin: 0 10px;
}
.divContainerTech2 {
  width: 50%;
}