.containerManual {
  background: radial-gradient(
    at right bottom,
    rgb(36, 44, 58),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  margin-bottom: 50px;
}
.divContenedor {
  text-align: center;
  border-radius: 18px;
  margin-bottom: -15px;
}
.buttonADesc {
  text-decoration: none;
}
.buttonApdf {
  text-decoration: none;
  color: #ea5440;
}
.h1manual {
  color: white;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  opacity: 70%;
}
.h1manual:hover {
  color: white;
  transition: all 300ms;
}
.imgpdf {
  width: 7%;
  margin-bottom: 10px;
}
@media (min-width: 375px) and (max-width: 720px) {
  .imgpdf {
    width: 15%;
  }
}
body {
  background: radial-gradient(
    at right bottom,
    rgb(36, 44, 58),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  font-family: "Centra", sans-serif !important;
  font-weight: 700px;
  letter-spacing: 0.8px;
}
.parrafoHome {
  color: white;
  text-align: justify;
  width: 70%;
  margin-left: 13%;
  padding-bottom: 20px;
  letter-spacing: 0.025em;
}
.keyboard {
  color: white;
  text-align: justify;
  margin-left: 13%;
  letter-spacing: 0.025em;
}
.subtitulo {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 25px;
}
.imgManual {
  width: 50%;
  padding-bottom: 30px;
}
@media (min-width: 375px) and (max-width: 720px) {
  .imgManual {
    width: 100%;
  }
}
.h4 {
  color: white;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.dwmanual {
  font-size: 25px;
  color: white;
}
#img {
  width: 60%;
  border-radius: 30px;
  padding: 20px;
}
.buttonArrow {
  position: fixed;
  bottom: 85%;
  right: 20px;
  width: 60px;
  transition: 0.3s;
  transition: all 400ms ease;
}
.buttonArrow:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
