.h1Home {
  color: white;
  font-size: 380%;
  text-align: center;
  padding-top: 20%;
  font-weight: bold;
  width: 98%;
  /* padding-top: -10px; */
  text-shadow: 3px 3px 3px rgb(99, 99, 99);
  opacity: 80%;
  /* margin-left: -70%; */
}
.containerTitle {
  background-image: url(../../imagenes/pivrbg.png);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  /* border-radius: 20px; */
  height: 90vh;
  width: 100%;
}
.subtitleHome {
  font-size: 230%;
  color: white;
  text-align: center;
}

.containerPri {
  background: radial-gradient(
    at right bottom,
    rgb(36, 44, 58),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  width: 100%;
  padding-bottom: 100px;
}

#imgHome {
  /* height: 500px; */
  width: 500px;
}

#divContenedor {
  /* width: 70%; */
  text-align: center;
  border-radius: 18px;
  margin-bottom: -15px;
}

.parrafoHome {
  color: white;
  text-align: justify;
  width: 70%;
  margin-left: 13%;
  padding-bottom: 20px;
  letter-spacing: 0.025em;
}
/* .espacio {
  margin: 10px;
  padding: 10px;
} */
.containerHomeQe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgtack {
  margin-left: 15%;
  width: 70%;
}
.containerFb {
  margin-top: 7% !important;
}
.containerMedia {
  margin-top: 5%;
}
.video2 {
  margin-top: 5% !important;
}
.video3 {
  margin-top: 10%;
}
.containerComp {
  margin-top: 10%;
}
.cardFin {
  height: 250px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleCard {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center !important;
}
.buttonsCard {
 
  /* margin-left: 37%; */
  padding: 0.8em 1.8em;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
  color: white;
}
.buttonsCard::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.buttonsCard:hover::before {
  width: 105%;
}
.buttons:hover {
  color: black;
}
.hrefButtons {
  margin-top: 10%;
  text-decoration: none;
  color: white;
}