.h1contact {
  color: white;
  font-size: 55px;
  text-align: center;
  font-weight: bold;
  padding-top: 30px;
  opacity: 70%;
}

.containerPri {
  margin-top: 4%;
}

#divContenedorContact {
  text-align: center;
  border-radius: 18px;
  padding-bottom: 2px;
}

.subtitlecontact {
  color: white;
}

#logoFace {
  color: white;
  transition: 0.3s;
  transition: all 400ms ease;
}

/* #logoFace:hover {
  box-shadow: 5px 5px black;
  transform: translateY(-5%);
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
} */

#logoimg {
  /* margin-top: 13%; */
  margin-bottom: 7%;
  transition: 0.3s;
  transition: all 400ms ease;
}

#logoimg:hover {
  box-shadow: 5px 5px black;
  transform: translateY(-18%);
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}

#logoimgdis {
  /* margin-top: 13%; */
  margin-bottom: 7%;
  color: white;
  transition: 0.3s;
  transition: all 400ms ease;
}

#logoimgdis:hover {
  color: grey;
  box-shadow: 5px 5px black;
  transform: translateY(-18%);
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}

#logoimgyt {
  /* margin-top: 13%; */
  margin-bottom: 7%;
  color: #ff0000;
  transition: 0.3s;
  transition: all 400ms ease;
}

#logoimgyt:hover {
  color: rgb(170, 61, 61);
  box-shadow: 5px 5px black;
  transform: translateY(-18%);
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}

#logoimgig {
  /* margin-top: 13%; */
  margin-bottom: 7%;
  color: white;
  transition: 0.3s;
  transition: all 400ms ease;
}

#logoimgig:hover {
  color: #873991;
  box-shadow: 5px 5px black;
  transform: translateY(-18%);
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}
