.h1Faqs {
    color: white;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    opacity: 70%;
}

.h3Faqs {
    color: white;
    background: none;
    border: black solid 3px;
    border-radius: 8px;
    width: 80%;
    font-size: 25px;
    margin-top: 3%;
    display: flex;
    font-weight: bold;
    text-decoration: underline;
}

.h3Faqs:hover {
    background: grey;
    border-color: grey;
}

.containerPriFaqs {
    background-color: #3e4957;
    padding-bottom: 30px;
}

#divContenedorFaqs {
    text-align: center;
    border-radius: 18px;
    margin-bottom: -15px;
}

.parrafoFaqs {
    color: white;
    font-size: 19px;
    text-align: start;
    padding-bottom: 10px;
    padding-top: 20px;
    /* margin-left: 7%; */
}

#lastAns{
    padding-bottom: 50px;
}

.contenedorSeg {
    width: 80%;
    margin: 0px 10% 0 10%;
}

.divQandA{
    background: linear-gradient(90.21deg, #3E4957 -5.91%, #212529 111.58%);
    border-radius: 15px;
    width: 85%;
    padding: 3%;
    margin-bottom: 2%;
}