.containerMedia {
    background: radial-gradient(at right bottom, rgb(36, 44, 58), rgb(17, 24, 39), rgb(0, 0, 0));
}
.containerPrimaryVideos {
    flex-wrap: wrap;
}
.containerThirdVideo {
    padding-left: 8%;
}
#imgextensor {
    width: 40%;
    height: 250px;
}
.divContainerExtensor {
    margin-top: 7%;
    background-color: #212529;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 4%;
}
.containerExtensor {
    font-weight: bold;
    color: white;
    padding: 2% 0 0 2% ;
}
.titleExtensor {
    width: 100%;
    text-align: justify;
}
.textExtensor {
    font-size: 20px;
    text-align: justify;
    width: 90%;
}
.containerCards {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.containerCard {
    margin: 2%;
    height: 28rem;
    background: none;
    border: none;
}
.imgCard {
    height: 20rem;
}
.TitleCard {
    color: white;
    font-size: 33px;
    font-weight: bold;
    text-align: center;
}
.subTitleCard{
    color: white;
    padding-top: 6%;
    font-size: 17px;
}
