/* .buttonsCarousel {
    width: 20%;
} */
.containerCarousel {
    width: 80% !important;
    margin: auto;
}
.imgCarrousel {
    height: 29rem !important;
    width: 100%;
}
.imgCarrousel2{
    top: 0;
    left: 0;
    min-width: 100%;
    height: 464px;
    max-height: none;
}
.countainerPriCarrousel {
    width: 50%;
}